{% extends 'blog/main.html' %}
{% load static %}


{% block title %}
You are logged out of your account
{% endblock %}


{% block content %}
<h1>You are logged out of your account</h1>
<a href="{% url 'login' %}">Login back to your account</a>

{% endblock %}


{% block aside %}
<div class="post">
    <img src="{% static 'blog/images/python.png' %}" width="300" height="168" class="img-thumbhail mt-3">
    <p>Почему Python такой популярный?🤨</p>
    <a href="https://tproger.ru/articles/pochemu-python-takoj-populyarnyj-napisano-chelovekom/" target="_blank">
        <button class="btn btn-info">Read full</button>
    </a>
</div>


<div class="post">
    <img src="{% static 'blog/images/golang.png' %}" width="300" height="150" class="img-thumbhail mt-5">
    <p>Что делает Go таким необычным?</p>
    <a href="https://tproger.ru/translations/chto-delaet-go-takim-neobychnym/" target="_blank">
        <button class="btn btn-info">Read full</button>
    </a>
</div>


<div class="post">
    <img src="{% static 'blog/images/stackoverflow.jpeg' %}" class="img-thumbhail mt-5">
    <p>Stack Overflow провёл опрос о любимых языках программирования.</p>
    <a href="https://tproger.ru/articles/stack-overflow-provyol-opros-o-lyubimyh-yazykah-programmirovaniya-vyigral-rust/"
        target="_blank">
        <button class="btn btn-info">Read full</button>
    </a>
</div>
{% endblock %}